body {
  overflow: hidden;
}

#gallery {
  width: 100%;
  display: flex;
  gap: 3px;
  overflow-x: auto;
  overflow-y: hidden;
  height: calc(100vh + 11px);
}

#gallery img {
  flex-shrink: 0;
  display: block;
  height: calc(100vh - 11px);
}
