* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
  text-decoration: none;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1;
  color: #000;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:link, :visited {
  text-decoration: none;
  color: unset;
}

button {
  cursor: pointer;
}

textarea {
  resize: none;
}

img, canvas {
  display: block;
}
